body {
	width: 100%;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
}

#jadwal {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
	grid-template-rows: 50px 300px 1fr;
}

#form {
	background-color: blue;
	padding-top: 75px;
	margin: 25px 0;
	grid-column: 3;
	grid-row: 2;
	height: 300px;
}

#response {
	margin-top: 50px;
	grid-column: 2 / span 3;
	grid-row: 3;
}

td {
	border: 1px black solid;
	width: 175px;
}

#navbar {
	position: absolute;
}

#navbar li {
	float: left;
}

#navbar a {
	height: 50px;
	width: 200px;
	display: block;
	padding: 8px;
	background-color: rgb(150, 150, 230);
}

#navbar a:hover {
	background-color: rgb(100, 100, 155);
}

.content {
	padding: 15px;
	left: 0;
	top: 0;
	text-align: center;
}

.gray {
	background-color: #1a1a1a;
	color: white;;
}

#header {
	height: 660px;
	background-image: url(https://i.vimeocdn.com/video/646683867.webp?mw=1000&mh=563&q=70);
	background-size: cover;
	background-position: center;
}

#down {
	right: 0;
	float: right;
	height: 60px;
	width: 12.5%;
	z-index: 5;
	position: absolute;
	background-color: olive;
	top: 600px;
	border: 1px black solid;
	text-align: center;
}

#arrow {
	padding: 10px;
	display: inline-block;
	border: black solid;
	border-width: 0 5px 5px 0;
	transform: rotate(45deg);
}

#contact {
	height: 300px;
}

#contact img {
	max-width: 50px;
	max-height: 50px;
	height: auto;
	width: auto;
}

#navigation {
	left: 0;
	position: sticky;
	top: 0;
	width: 12.5%;
	height: 220px;
	background-color: rgb(175, 175, 255);
	z-index: 5;
	float: right;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	background-color: rgba(10, 50, 255, 0.5);
	height: 55px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	font-weight: 900;
	color: white;
	border: 1px black solid;
}

li a:hover {
	background-color: rgb(200, 150, 255);
	color: white;
}

#about {
	margin-top: 50px;
}

.data {
	background-color: rgba(10, 25, 255, 0.8);
	margin: 225px 0;
	height: 550px;
}

.first {
	margin-top: 0;
	padding-left: 100px;
	grid-gap: 10px 100px;
	font-size: 20px;
}

.moreimg {
	padding-left: 300px;
	width: 700px;
}

#me {
	padding-top: 50px;
}

#bio {
	grid-column: 2;
	text-align: left;
	border: 6px #a1d2d2 solid;
	width: 300px;
	float: right;
	margin-right: 300px;
	background-color: white;
}

img {
	grid-column: 1;
	max-height: 200px;
	max-width: 200px;
	height: auto;
	width: auto;
}

#hobbies {
	margin-top: 50px;
}

#games img {
	max-height: 300px;
	max-width: 300px;
	height: auto;
	width: auto;	
}

#skills {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: repeat(5, 100px);
	grid-gap: 30px 100px;
}

#skills img {
	max-width: 100px;
	max-height: 100px;
	height: auto;
	width: auto;
	padding-left: 25px;
	align-content: center;
}

.stars {
	float: right;
	right: 150px;
}

#other {
	grid-column: 2;
}

#text {
	grid-column: 1 / span 3;
}
S
#code {
	grid-column: 1;
}

.checked {
  color: yellow;
}

#nothing {
	grid-column: 3;
	grid-row: 2 / span 4; 
}