<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Jadwal</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
	<link href="{% static 'css/new.css' %}" rel = "stylesheet"/>
</head>
<body id="jadwal">
	{% include "navbar.html" %}
	<form id="form" method="POST" action="{% url 'get_jadwal' %}">
		{% csrf_token %}
		{{ form.name.label_tag }}
		{{ form.name }}
		<br>
		{{ form.date.label_tag }}
		{{ form.date }}
		<br>
		{{ form.time.label_tag }}
		{{ form.time }}
		<br>
		<button type="Submit" class="btn">Submit</button>
	</form>
	<form id="response" method="GET" action="{% url 'get_jadwal' %}">
		<table>
			<tr>
				<td><strong>Name</strong></td>
				<td><strong>Date</strong></td>
				<td><strong>Time</strong></td>
			</tr>
		{% for r in resp %}
			<tr>
				<td>{{ r.name }}</td>
				<td>{{ r.date }}</td>
				<td>{{ r.time }}</td>
				<form id="delete" method="POST" action="{% url 'delete_jadwal' %}">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{ r.id }}">
					<td><button type="Submit" class="btn">Delete</button></td>
				</form>
			</tr>
		{% endfor %}
	</form>
</body>
</html>