<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>More About Me</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
		<link href="{% static 'css/new.css' %}" rel = "stylesheet"/>
	</head>
	<body>
		<div id="header" class="gray content">
		</div>

		<div id="down">
			<a id="arrow" href="#about"></a>
		</div>

		{% include "navbar.html" %}
		
		<div id="navigation">
			<ul>
				<li>
					<a href="#header">Header</a>
				</li>
				<li>
					<a href="#hobbies">Hobbies</a>
				</li>
				<li>
					<a href="#games">Games</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>

		<div id="hobbies" class="first data content">
			<h2 class="span">Hobbies</h2>
			<div class="moreimg">
				<img src="https://www.pallensmartialarts.com/uploads/1/0/9/3/109303993/girl-kicking-boy-to-air_1_orig.jpg">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS41gPESvvy2odOothfA6sN6iW6Id_Hp4HuTzLkmbzPXxs_bANL9A">
				<img src="https://images-na.ssl-images-amazon.com/images/I/51INShoKdNL._SL1000_.jpg">
				<img src="http://www.myiconfinder.com/uploads/iconsets/256-256-02dd1eb62f51a3874ef9a57f29cac5df.png">
			</div>

		</div>

		<div id="games" class="data content">
			<h1 id="text">Games</h1>
			<h2>I've been playing lately</h2>
			<div class="moreimg">
				<img src="https://asset-a.grid.id/crop/31x21:1173x901/700x465/photo/2019/07/18/2319975971.jpg">
				<img src="https://i.redd.it/7oxe2g7t0y411.jpg">
				<img src="https://cdn-cf.gamivo.com/image_cover.jpg?f=44640&n=9989406913432465.jpg&h=b53dee0d0e8130109cd9149325fa5c86">
				<img src="https://steamuserimages-a.akamaihd.net/ugc/534018596491184121/EBB67984E2BC998B512ADD326C6B4A05026BC730/">
			</div>
		</div>

		<div id="contact" class="gray content">
			<h1>Contact</h1>
			<img src="https://icon-library.net/images/line-icon-png/line-icon-png-15.jpg">
			<p>ragnachris999</p>
			<img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png">
			<p>christiandenata@gmail.com</p>

		</div>
	</body>
</html>