<!DOCTYPE html>
<html>
<head></head>
<body>
	<ul id="navbar">
		<li><a href="{% url 'new' %}">Main</a></li>
		<li><a href="{% url 'more' %}">More</a></li>
		<li><a href="{% url 'get_jadwal' %}">Jadwal</a></li>
	</ul>
</body>
</html>