<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Story 4</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
		<link href="{% static 'css/new.css' %}" rel = "stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="header" class="gray content">
		</div>

		<div id="down">
			<a id="arrow" href="#about"></a>
		</div>

		{% include "navbar.html" %}

		<div id="navigation">
			<ul>
				<li>
					<a href="#header">Header</a>
				</li>
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#skills">Skills</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>

		<div id="about" class="first data content">
			<h2 class="title">About</h2>
			<img src="{% static 'image/17151.jpg' %}" class="img">
			<p id="bio">Name   : Christian Denata<br>
						Age    : 19 yo<br>
						Creature : Human<br> 
			</p>
			<p id="me">I am an university student in University of Indonesia in Computer Science Major.<br>
			Interested in ethical hacking, bug bounty, and penetration testing.</p>

		</div>

		<div  id="skills" class="data">
			<h1 id="text" class="content">Skills</h1>

			<div id="nothing">
			</div>
			<div id="python" class="code">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png">
				<div class=stars>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				</div>
			</div>

			<div id="photoshop" class="other">
				<img src="https://cdn.pixabay.com/photo/2015/11/27/10/55/photoshop-1065296_960_720.jpg">
				<div class=stars>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				</div>
			</div>

			<div id="java"  class="code">
				<img src="https://icon-library.net/images/java-icon-images/java-icon-images-6.jpg">
				<div class=stars>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				</div>
			</div>

			<div id="premiere" class="other">
				<img src="http://icons.iconarchive.com/icons/dakirby309/simply-styled/256/Adobe-Premiere-Pro-icon.png" >
				<div class=stars>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				</div>
			</div>

			<div id="php" class="code">
				<img src="https://freeicons.io/laravel/public/uploads/icons/png/2765419221551942634-512.png">
				<div class=stars>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
					<span class="fa fa-star"></span>
				</div>
			</div>
		</div>

		<div id="contact" class="gray content">
			<h1>Contact</h1>
			<img src="https://icon-library.net/images/line-icon-png/line-icon-png-15.jpg">
			<p>ragnachris999</p>
			<img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png">
			<p>christiandenata@gmail.com</p>

		</div>
	</body>
</html>